.button3_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  position: relative;
}

/* CSS */
.button3 {
  padding: 20px 30px;
  background-image: linear-gradient(#8614f8 0, #760be0 100%);
  border-radius: 10px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  outline: 0;
}

.button3:hover {
  filter: brightness(150%);
}

.button3:focus {
  filter: brightness(200%);
}
