// Contient le button
.dropdown2_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

// Button
.dropdown2_Button {
  background-color: rgb(105, 105, 105);
  color: white;
  cursor: pointer;
  padding: 20px 10px;
  position: relative;
  border: 0px;
  width: 200px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  transition: 250ms ease-in;
  outline: 0;
}

.dropdown2_Button:hover {
  background-color: salmon;
  transition: 250ms ease-in;
}

.dropdown2_Button:focus {
  background-color: rgb(128, 199, 22);
  color: black;
  transition: 250ms ease-in;
}

// Icone
.dropdown2_Icon {
  width: 20px;
}

// ul
.dropdown2_List {
  background-color: rgb(58, 58, 58);

  color: white;
  position: absolute;
  text-align: center;
  list-style: none;
  left: 100%;
  top: 0px;
  width: 200px;
  animation: slide-in-blurred-top2 150ms ease-in;
}

// li
.dropdown2_List > li {
  padding: 20px 10px;
}

.dropdown2_List > li:hover {
  background-color: rgb(119, 119, 119);
}

// Disparition/Apparition de la liste
.dropdown2_List {
  display: none;
}

.dropdown2_List.show {
  display: block;
}
