// Contient le button
.dropdown1_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

// Button
.dropdown1_Button {
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 20px 10px;
  position: relative;
  border: 0px;
  width: 200px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.dropdown1_Button:hover {
  background-color: salmon;
}

.dropdown1_Button:focus {
  background-color: rgb(241, 250, 114);
  color: black;
}

// Icone
.dropdown1_Icon {
  width: 20px;
}

// ul
.dropdown1_List {
  background-color: rgb(58, 58, 58);
  color: white;
  position: absolute;
  text-align: center;
  list-style: none;
  left: 0px;
  top: 60px;
  width: 200px;
  animation: slide-in-blurred-top 150ms ease-in;
}

// li
.dropdown1_List > li {
  padding: 20px 10px;
}

.dropdown1_List > li:hover {
  background-color: rgb(119, 119, 119);
}

// Disparition/Apparition de la liste
.dropdown1_List {
  display: none;
}

.dropdown1_List.show {
  display: block;
}

// Animation d'apparition
@keyframes slide-in-blurred-top {
  0% {
    transform-origin: 0% 0%;
    transform: scaleY(0);
  }
  100% {
    transform-origin: 100% 0%;
    transform: scaleY(1);
  }
}
