// Contient le button
.dropdown4_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

// Button
.dropdown4_Button {
  background-color: rgb(105, 105, 105);
  color: white;
  cursor: pointer;
  padding: 20px 10px;
  position: relative;
  border: 0px;
  width: 200px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  transition: 250ms ease-in;
  outline: 0;
}

.dropdown4_Button:hover {
  background-color: salmon;
  transition: 250ms ease-in;
}

// Icone
.dropdown4_Icon {
  width: 20px;
}

// ul
.dropdown4_List {
  background-color: rgb(58, 58, 58);

  color: white;
  position: absolute;
  text-align: center;
  list-style: none;
  left: 100%;
  top: 0px;
  width: 200px;
  animation: slide-in-blurred-top 150ms ease-in;
}

// li
.dropdown4_List > li {
  padding: 20px 10px;
}

.dropdown4_List > li:hover {
  background-color: rgb(119, 119, 119);
}

// Disparition/Apparition de la liste
.dropdown4_List {
  display: none;
}

.dropdown4_List.show {
  display: block;
}

// Animation d'apparition
@keyframes slide-in-blurred-top {
  0% {
    transform-origin: 0% 0%;
    transform: scaleY(0);
  }
  100% {
    transform-origin: 100% 0%;
    transform: scaleY(1);
  }
}
